.card__like-button {
  width: 25px;
  height: 18px;
  background-image: url(../../../images/like-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 3px;
}

.card__like-button:hover {
  opacity: 0.6;
}

.card__like-button:active {
  opacity: 1;
}